@import "tailwindcss";

@theme {
  --color-aw-primary: #3b82f6;
  --color-aw-outlined-button-hover: #3b83f625;
  --color-aw-secondary: #1f2937;
  --color-aw-tertiary: #ef4444;
  --color-aw-neutral: #757780;
  --color-aw-hover: #d5dadf;
  --color-aw-text: #f8fafc;
  --color-aw-text-dark: #1f2937;
  --color-aw-background: #f1f5f9;
}
/* f1f5f9 */
.dumb {
  --primary: #3b83f635;
  --secondary: #1f2937;
  --tertiary: #ef4444;
  --neutral: #757780;
  --hover: #334155;
  --text: #f8fafc;
  --background: #e3e4e6;
  --test: #3b83f625;
}
